<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class='intro'>
    <header>
      <% include ./partials/header %>
    </header>
    <section class='main'>
      <h1 class='center'>Welcome to My <br />Easy Post-a-Note<br /> Organizer!</h1>
      <div class='center'>
        <a href='/posts'><button class='btn btn-waves'>Try it out</button></a>
      </div>
    </section>
    
  </body>
</html>
