@import '../../bower_components/Materialize/dist/css/materialize.min.css';
body {
  font-family: 'Shadows Into Light', cursive;
  margin: 5px;
}
.intro {
  background: url(../../images/intro.jpg) no-repeat center center fixed;
  background-size: cover;
}
.main {
  padding: 150px;
}
.main h1 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  line-height: 1.5em;
}
a {
  color: #fff;
  text-decoration: none;
}
.blue {
  background-color: blue;
}
.note-text {
  color: #fff;
  margin: 5px;
  display: inline-block;
  float: left;
}
.note-purple {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 250px;
  height: 250px;
  border: 1px solid #5C199C;
  background: linear-gradient(to right bottom, #8230CF, #5C199C);
  box-shadow: 2px 2px 3px #000;
}
.note-blue {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 250px;
  height: 250px;
  border: 1px solid #007291;
  background: linear-gradient(to right bottom, #00C0F5, #007291);
  box-shadow: 2px 2px 3px #000;
}
.note-red {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 250px;
  height: 250px;
  border: 1px solid #AD2800;
  background: linear-gradient(to right bottom, #FF511C, #AD2800);
  box-shadow: 2px 2px 3px #000;
}
.note-green {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 250px;
  height: 250px;
  border: 1px solid #008A25;
  background: linear-gradient(to right bottom, #00D438, #008A25);
  box-shadow: 2px 2px 3px #000;
}
.note-yellow {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 250px;
  height: 250px;
  border: 1px solid #FFEA00;
  background: linear-gradient(to right bottom, #FFEF40, #FFEA00);
  box-shadow: 2px 2px 3px #000;
}
.corkboard {
  border: 10px solid #5E4111;
  height: 1000px;
  width: 800px;
  background-color: grey;
  background: url(../../images/corkboard.jpg);
}
.delete {
  border: none;
  background: none;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
